/*  your css code here. If applicable */
/*  your css code here. If applicable */
body{
 width:1100px;
}
.imageContainer img{
	width:400px;
}
* .first , .last{
	width:200px;
	
}
.middle{
	width:600px;
} */